/* Estilo básico para o corpo */
body {
		font-family: Arial, sans-serif;
		margin: 0;
		padding: 0;
		background-color: #f8f9fa;
}

/* Estilo para o cabeçalho */
.header {
		background-color: #007bff;
		color: white;
		padding: 20px;
		text-align: center;
}

/* Estilo para o conteúdo principal */
.main-content {
		padding: 20px;
		background-color: white;
		margin: 20px;
		border-radius: 10px;
		box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Estilo para o rodapé */
.footer {
		background-color: #343a40;
		color: white;
		text-align: center;
		padding: 10px;
		position: absolute;
		bottom: 0;
		width: 100%;
}
