/* Container */
.container {
		display: flex;
		justify-content: space-between;
		padding: 20px;
}

/* Estilo para as colunas */
.column {
		background-color: #e9ecef;
		padding: 20px;
		width: 45%;
		border-radius: 8px;
}

/* Coluna esquerda */
.left {
		background-color: #ffc107;
}

/* Coluna direita */
.right {
		background-color: #28a745;
}
